body {
  font-family: "Roboto", sans-serif;
  padding: 0%;
  margin: 0;
}

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  gap: 150px;
  background-color: #1f2937;
  height: 700px;
}

header {
  display: flex;
  justify-content: center;
  gap: 830px;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #f9faf8;
  overflow-wrap: break-word;
}

button {
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #3882f6;
  font-size: 18px;
  padding: 12px 28px;
  text-align: center;
  height: 40px;
  width: 150px;
  padding: 0;
}

/* Images Section */

#images-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #ffff;
  height: 550px;
}

#images-section-header {
  margin: 13px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #1f2937;
}

figure {
  border-radius: 8px;
}
figure figcaption {
  display: table-caption;
  text-align: center;
  caption-side: bottom;
  color: rgb(100, 99, 99);
}

#images-section-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Testimonial Section */

#testimonial-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  height: 550px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

q {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

q::after {
  content: none !important;
}

q::before {
  content: none !important;
}
